<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Person",
  "name": "Tommaso Colella",
  "url": "https://gioleppe.github.io/",
  "image": "https://media.licdn.com/dms/image/C5603AQEo-0VsShX7eg/profile-displayphoto-shrink_400_400/0/1612869300096?e=1676505600&v=beta&t=C0ZDSUriW6h0wK3Py6DoZ8viruvCLJdTg99jQCGsl9Y",
  "sameAs": [
    "https://www.linkedin.com/in/tommaso-colella-051012143/",
    "https://github.com/gioleppe",
    "https://www.facebook.com/amuchina"
  ],
  "jobTitle": "Software Engineer",
  "worksFor": {
    "@type": "Organization",
    "name": "YOOX Net-a-Porter Group S.p.A"
  }  
}
</script>